body {
    align-items: center;
    background-color: black;
    cursor: url(./cursors/default.png), auto;
    display: flex;
    height: 100vh;
    justify-content: center;
    overflow: hidden;
    width: 100vw;
    user-select: none;
    -moz-user-select: none;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -o-crisp-edges;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
}

img {
    position: absolute;
}

#game {
    background-color: #00177D;
    position: relative;
}

#game:not(.loaded) {
    display: none;
}

.layer-icon {
    background-color: #343434;
    cursor: url(./cursors/pointer.png), auto;
    transition: background-color .25s;
}

.layer-icon:hover,
.layer-icon.selected {
    background-color: #151515;
}

.layer-components:not(.selected) {
    display: none;
}

.component {
    cursor: url(./cursors/move.png), auto;
    position: absolute;
}

#game.dragging .component:not(.selected) {
    pointer-events: none;
}

.component-piece {
    pointer-events: none;
}